h1, p {
    text-align: center;
}

li:hover {
    background-color: rgb(226, 40, 27);
    transition-duration: 1s;
    
}
li:active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

li {
    list-style: none;
}